@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
:root {
  --pp-color: #8a2be2;
}

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Roboto Slab, serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #fff;
  background-color: var(--pp-color);
}

header .logo {
  margin-left: 10px;
  font-size: 1.5rem;
}

header .nav-toggle {
  height: 2rem;
  width: 2rem;
  border-radius: 4px;
  margin: 10px;
  background-color: #fff;
  cursor: pointer;
}

nav {
  display: none;
  flex-basis: 100%;
}
nav.block {
  display: block;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 7px 0;
}

nav ul a {
  display: block;
  padding: 4px 17px;
  font-size: 1.1rem;
}

nav ul a:hover {
  background-color: #0004;
}

@media (min-width: 600px) {
  header .nav-toggle {
    display: none;
  }

  header nav {
    display: block;
    flex-basis: auto;
    margin-right: 10px;
  }

  nav ul {
    display: flex;
    margin: 0;
  }

  nav ul a {
    padding: 10px 14px;
  }
}
a {
  color: inherit;
  text-decoration: inherit;
}